* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #111228;
    display: flex;
    height: 100vh; 
    overflow: hidden;
}

.left-column,
.right-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-column h1 {
    color: white;
    text-align: center;
}
.left-column img {
    max-width: 70%;
    max-height: 70%;
    aspect-ratio: 1/1;
}

.right-column {
    position: relative;
    margin: 5%;
    width: 90%;
    height: auto;
    --blur: 10px;
    --refraction: 0.05;
    --depth: 10;
    --scale: 2;
    background: rgba(255, 255, 255, var(--refraction));
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border-radius: var(--blur);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 calc(8px * var(--scale)) calc(32px * var(--scale)) rgba(0, 0, 0, 0.1),
        inset 0 calc(1px * var(--scale)) 0 rgba(255, 255, 255, 0.5),
        inset 0 calc(-1px * var(--scale)) 0 rgba(255, 255, 255, 0.1),
        inset 0 0 calc(20px * var(--scale)) calc(var(--depth) * 1px) rgba(255, 255, 255, calc(var(--depth)/100));
    overflow: hidden;
}

.book-bgr {
    position: absolute;
    transform: rotate(-15deg) translateY(-50%);
    z-index: -1;
    right: -22%;
    top: 95%;
    scale: 1.5;
    filter: saturate(60%);
}

form {
    width: 100%;
    height: 100%;
    color: white;
}

form .line {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 1rem 0;
}

form a {
    color: #00a3b9;
}

form .upper-auth a {
    text-align: right;
    width: 100%;
    font-size: smaller;
}

form button {
    position: relative;
    padding: 0.75rem 1.25rem;
    font-size: medium;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    outline: 2px solid transparent;
    transition: 
        background-position 0.6s ease,
        color 0.3s ease,
        outline 0.3s ease;
    background: linear-gradient(
        180deg,
        #32E1B5,
        #455ED5,
        whitesmoke,
        whitesmoke
    );
    background-size: 100% 300%;
    background-position: bottom;
}

form button:hover {
    color: white;
    background-position: top;
    outline: 2px solid white;
}

