.container {
    position: relative;
    padding: 100px 2rem 2rem;
    width: 50%;
    max-width: 500px;
    height: calc(85vh - 7rem);
    margin: 2rem auto 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile {
    aspect-ratio: 1/1;
    margin: 0 auto;
    width: 30%;
    border: 2px solid white;
    box-shadow: 0 1rem 1rem rgba(50, 50, 50, 0.15);
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile.edit {
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile.edit::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: transparent;
    border-radius: 1000px;
    transition: all 0.3s ease;
}

.profile.edit svg {
    position: absolute;
    z-index: 1;
    height: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    color: transparent;
    transform: translate(-50%, -50%);
}

.profile.edit:hover::before {
    background-color: rgba(0, 0, 0, 0.25);
}

.profile.edit:hover > svg {
    color: white;
}

.profile h1 {
    margin: 0;
    line-height: 1;
    font-size: 4cqw;
    /* mix-blend-mode: difference; */
    color: white;
}

.upper-profile {
    width: 100%;
    text-align: center;
}

.upper-profile h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    color: #1267B8;
}

.upper-profile h3 {
    font-weight: 500;
    color: gray;
}

.upper-profile .line {
    height: 2px;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.15);
    margin: 1.5rem 0;
}

.upper-profile .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    margin: 1rem;
}

.upper-profile.in-rows {
    display: flex;
}

.info-label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info-label svg {
    height: 2rem;
    aspect-ratio: 1/1;
    stroke-width: 1.5;
}

.info-label.big {
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.lower-profile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button {
    flex: 1;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
    border-radius: 1000px;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.button svg {
    width: 1rem;
    height: 1rem;
    stroke-width: 2.5;
}

.button.red {
    border: 2px solid red;
    color: red;
}

.button.red:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 0.5rem red;
}

.button.blue {
    color: white;
    background-color: #1267B8;
    border: 2px solid #1267B8;
}

.button.blue:hover {
    color: #1267B8;
    background-color: white;
    box-shadow: 0 0 0.5rem #1267B8;
}

input {
    width: 100%;
    border-radius: 1000px;
    padding: 0.5rem 0.75rem;
    border: none;
    background-color: rgba(240, 240, 240, 0.2);
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5);
    outline: 2px solid rgba(255, 255, 255, 0.8);
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

select {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    border-radius: 1000px;
    line-height: 1.1;
    border: none;
    background-color: rgba(240, 240, 240, 0.2);
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5);
    outline: 2px solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.labels {
    margin-right: 1rem;
}