.container {
    margin: 0 auto 5rem;
    height: calc(85vh - 5rem);
    width: 80vw;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    /* padding-right: 0.5rem; */
    /* margin-right: -8px; */
}

.heading {
    height: 3rem;
    margin: 1.5rem 0;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading h1 {
    font-size: 3rem;
    color: #1267B8;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0.5rem 1rem;
    color: gray;
    gap: 0.5rem;
}

.search-bar.glass {
    border-radius: 1000px;
    /* box-shadow: 0 0.5rem 0.5rem rgba(); */
}

.search-bar svg {
    height: 1.5rem;
    stroke-width: 2;
}

.search-bar input {
    background: none;
    border: none;
    font-size: 1rem;
    width: 15rem;
}

.search-bar input:focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.inner {
    flex: 1;
    width: 100%;
    /* height: 100%; */
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    min-height: 0;
}

.inner::-webkit-scrollbar {
    background: none;
    width: 0.5rem;
    margin-right: 1rem;
    /* appearance: none; */
}

.inner::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.profile {
    /* flex: 1; */
    width: 100%;
    height: 100px;
    padding: 0.5rem;
    padding-right: 2rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    overflow: visible;
    /* background-color: red; */
    transform: translateX(10rem);
    opacity: 0;
    animation: fade-in 0.4s ease-out forwards;
}

.inner .profile.glass {
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 1);
}

@keyframes fade-in {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.search-bar.glass,
.inner .glass {
    outline: none;
    border: 2px solid white;
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 1),
                0 0.5rem 1rem rgba(50, 50, 50, 0.15);
}

.profile img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 1.5rem;
    border: 2px solid white;
}

.profile .student-profile {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 1.5rem;
    border: 2px solid white;
    box-shadow: inset 0 0 1.5rem rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-profile svg {
    height: 50%;
    width: 50%;
}

.profile .profile-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile-info.reverse {
    align-items: flex-end;
}

.profile h1 {
    color: #1267B8;
    font-size: 1.5rem;
}

.profile h2 {
    color: dimgray;
    font-size: 1rem;
    font-weight: 600;
}

.profile h3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: black;
    font-size: 1.25rem;
    font-weight: 500;
}

.profile h3.reverse {
    justify-content: flex-end;
}

.profile h3 svg {
    height: 2rem;
    stroke-width: 2;
}

.button {
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
    border-radius: 10rem;
    padding: 0.5rem;
    width: 15rem;
    transition: all 0.3s ease;
}

.button svg {
    width: 1rem;
    height: 1rem;
    stroke-width: 2.5;
}

.button.white {
    border: 2px solid white;
    color: black;
    box-shadow: inset 0 0 1rem white;
}

.button.white:hover {
    background-color: white;
    box-shadow: inset 0 0 1rem white,
                0 0 0.5rem white;
}

.button.blue {
    color: white;
    background-color: #1267B8;
    border: 2px solid #1267B8;
}

.button.blue:hover {
    color: #1267B8;
    background-color: white;
    box-shadow: 0 0 0.5rem #1267B8;
}