body {
    overflow: hidden;
}

section {
    width: 100%;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.5rem;
    color: #1267B8;
}

h2 span {
    color: white;
    font-weight: bold;
}

.hero {
    margin: 0 auto 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.hero h3 {
    font-size: 2rem;
    margin: 0;
    color: #1267B8;
}

.hero h1 {
    margin: 0;
    font-size: 4rem;
    line-height: 3rem;
    color: #1267B8;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    /* background-color: yellow; */
    gap: 2rem;
    padding-bottom: 15vh;
}

.menu {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 15vw;
    background-color: rgba(240, 240, 240, 0.2);
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5),
                0 1rem 1rem rgba(50, 50, 50, 0.15);;
    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
    text-align: center;
    flex-direction: column;
    transition: all 0.2s ease;
    cursor: pointer;
    transform: translateY(10rem);
    opacity: 0;
    animation: fade-in 0.6s ease forwards;
}

@keyframes fade-in {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.menus .menu:nth-child(1) { animation-delay: 0s; }
.menus .menu:nth-child(2) { animation-delay: 0.1s; }
.menus .menu:nth-child(3) { animation-delay: 0.2s; }
.menus .menu:nth-child(4) { animation-delay: 0.3s; }


.menu:hover {
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5),
                0 2rem 1rem rgba(50, 50, 50, 0.15);;
}

.menu svg {
    height: 6vh;
    margin: 2vh 0;
}

.menu h3 {
    height: 10vh;
    font-size: 1.25rem;
    font-weight: 600;
}