* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
}

.alert {
    --first: 0, 0, 0;
    --second: 211, 211, 211;
    z-index: 5;
    padding: 1.5rem;
    border: 1px solid rgb(var(--second));
    background-color: rgba(var(--second), 0.5);
    color: rgb(var(--first));
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: pop-up 10s forwards;
}

@keyframes pop-up {
    0%, 100% {
        transform: 
            translateX(-50%)
            translateY(-100%);
    }

    5%, 95% {
        transform: 
            translateX(-50%)
            translateY(1rem);
    }
}

.alert ul {
    list-style-position: inside;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.alert-success {
    --first: 255, 255, 255;
    --second: 0, 128, 0;
}

.alert-error {
    --first: 255, 255, 255;
    --second: 255, 0, 0;
}

.lang-container {
    all: unset;
    display: flex;
    border-radius: 100px;
    background-color: rgba(240, 240, 240, 0.2);
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.8);
    overflow: hidden;
    width: 4rem;
    height: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.lang-container.white {
    color: white;
}

.lang-container button {
    all: unset;
    height: 100%;
    cursor: pointer;
    width: 50% !important;
    text-align: center;
    transition: all 0.3s ease;
}
.lang-container button:hover {
    border: none;
    outline: none;
}

.lang-container button[type="button"] {
    background-color: rgba(240, 240, 240, 0.2);
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5);
    /* outline: 2px solid rgba(255, 255, 255, 0.8); */
}

