body {
    background: linear-gradient(180deg, #7CCCF1, white);
}

nav {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding: 1.5rem 3rem;
}

nav img {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

nav div {
    display: flex;
    height: 100%;
    gap: 1rem;
    align-items: center;
}

nav div ul {
    display: flex;
    align-items: center;
}

nav div ul li {
    list-style: none;
}

nav div ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    min-width: 6.5rem;
    text-align: center;
    padding: 0.25rem 1rem;
    border-radius: 1000px;
    background-color: rgba(240, 240, 240, 0.2);
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5);
    outline: 2px solid rgba(255, 255, 255, 0.8);
    margin: 1rem;
    transition: all 0.3s ease;
}

nav div ul li a:hover,
nav div ul li a.active {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.5),
                0 2px 0.5rem rgba(50, 50, 50, 0.15);
}

nav div a.profile-nav {
    display: block;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 0;
    border-radius: 1000px;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(50, 50, 50, 0.15);
}

nav .default-profile {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 1000px;
    background-color: rgba(240, 240, 240, 0.2);
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

nav .default-profile:hover,
nav .default-profile.active {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.5),
                0 2px 0.5rem rgba(50, 50, 50, 0.15);
}

nav .default-profile svg {
    height: 50%;
    aspect-ratio: 1/1;
}

.glass {
    background-color: rgba(240, 240, 240, 0.2);
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 1),
                0 1rem 1rem rgba(50, 50, 50, 0.15);
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
}



.modal-overlay {
    position: absolute;
    z-index: 998;
    inset: 0;
    background-color: rgba(50, 50, 50, 0.3);
    opacity: 1;
    display: block;
}

.modal-overlay.hidden {
    opacity: 0;
    display: none;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    max-height: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 1rem 1rem rgba(50, 50, 50, 0.15);
}

.modal.hidden {
    opacity: 0;
    display: none;
}

.modal h1 {
    font-size: 1.5rem;
    color: #1267B8;
    margin-bottom: 1rem;
}

.modal p {
    width: 100%;
    text-align: justify;
    margin-bottom: 2rem;
}

.modal .modal-container {
    width: 90%;
    text-align: justify;
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.modal .buttons {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.modal .buttons .button {
    width: 8rem;
    font-size: 1rem;
}

.modal textarea {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    padding: 0.5rem 0.75rem;
    /* flex: 1; */

    border-radius: 1.25rem;
    border: none;
    background-color: rgba(240, 240, 240, 0.2);
    outline: 2px solid rgba(200, 200, 200, 0.8);

    resize: vertical;
    margin-bottom: 2rem;
}