.wrapper {
    width: 80vw;
    height: 85vh;
    padding-bottom: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.wrapper h1 {
    font-size: 2.5rem;
    color: #1267B8;
    margin: 0 auto 1rem;
    text-align: center;
}

.tabs {
    display: flex;
    gap: 4px;
    margin-left: 1.5rem;
    position: relative;
    z-index: 2;
}

.tabs a {
    z-index: 3;
    color: white;
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-weight: 500;
    background-color: #1267B8;
    /* border: 2px solid rgba(255, 255, 255, 0.8); */
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s ease;
    position: relative;
}

.tabs a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    /* left: -2px;
    right: -2px; */
    top: 100%;
    height: 0;
    background-color: inherit;
    border: inherit;
    border-bottom: none;
    border-top: none;
    transition: all 0.3s ease;
}

.tabs a:hover,
.tabs a.active {
    transform: translateY(-1rem);
    /* padding-bottom: 1rem; */
    background-color: rgba(255, 255, 255, 0.5);
    color: #1267B8;
}

.tabs a:hover::after,
.tabs a.active::after {
    height: 1rem;
}

.container {
    flex: 1;
    width: 100%;
    min-height: 0;
    padding: 1.5rem;
    padding-right: 0.75rem;
    display: flex;
    flex-direction: column;
}

.buttons {
    padding-right: 0.75rem;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttons .button {
    width: 15rem;
}

.button {
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1000px;
    transition: all 0.3s ease;
}

.button svg {
    height: 1rem;
    stroke-width: 2.5;
}

.button.white {
    border: 2px solid white;
    color: black;
    box-shadow: inset 0 0 1rem white;
}

.button.white:hover {
    background-color: white;
    box-shadow: inset 0 0 1rem white,
                0 0 0.5rem white;
}

.button.blue {
    border: 2px solid #1267B8;
    background-color: #1267B8;
    color: white;
}

.button.blue:hover {
    box-shadow: 0 0 1rem #1267B8;
    background-color: white;
    color: #1267B8;
}

.button.red {
    border: 2px solid red;
    color: red;
}

.button.red:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 0.5rem red;
}